html{
	font-family : Arial;
}

h1{
	background-color: #FF5AD1;
	padding : 4% 0 4% 10%;
	margin-bottom: 0.5%;
	margin-top: 0;
	Color : white;
	box-shadow : 1px 1px 3px #999;
	font-family : Bradley Hand;
}

h3{
	Color : #FF5AD1;
}

.intro{
	border-width : 1px;
	border-style : solid;
	border-color : black;
	padding : 3%;
	margin : 5% 15% 3% 15%;
	box-shadow : 1px 1px 3px #999;
	background-color : #FFF1FB;
	text-align : center;
}

.intro1{
	margin : 5% 0 3% 0;
	padding : 10%;
	text-align : center;
}

p{
	color: red;
	text-align: center;
}

.valide p{
	color: green;
	text-align: center;
}

.intro a{
	text-decoration: none;
	color: black;
}

.intro a:hover{
	color: #FF5AD1;
}

.id{
	margin-bottom : 10px;
}

.mdp{
	margin-bottom : 50px;
}

.bouton{
	padding : 6px;
	background-color : #FFBFED;
	color : black;
	border-radius : 2px;
	width : 100px;
	border : 1px solid #ccc;
	box-shadow : 1px 1px 3px #999;
	text-decoration : none;
	cursor: pointer;
}

input[type="submit"]{
	display: block;
	margin: 0 auto;
}

.bouton:hover {
  background-color: #FF5AD1;
}

.tout{
	text-align : center;
}

.texte{
	display : inline-block;
}

.compte{
	display : inline-block;
}

img{
	border-width : 1px;
	border-style : solid;
	border-color : black;
	box-shadow : 1px 1px 3px #999;
}

.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #FFF1FB;
	box-shadow : 1px 1px 3px #999;
}

#nav li{
	float: left;
}

#nav li a{
	display: block;
	color: black;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 300px;
	text-decoration: none;
}

#nav li a:hover{
	background-color: #FF5AD1;
	color: white;
}

#nav .active{
	background-color: #FF5AD1;
	Color : white;
}

.menu ul li ul{
 	display: none;
}

.menu ul li:hover ul{
  display:block;
	opacity: 0.8;
}

#nav li ul li{
  float:none;
}

.menu li ul{
 	position:absolute;
}

footer{
	opacity : 0.8;
    color: #FFF;
    text-align: center;
	font-size : 10 px;
    background-color: grey;
	position:fixed;
	width : 100%;
	padding-bottom : 7px;
	padding-top : 0px;
	bottom: 0;
}
